@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap");

:root {
  --calculator-button-border-color: white;
  --number-button-border-color: rgb(0, 0, 250);
  --action-button-border-color: rgb(0, 250, 0);
  --control-button-border-color: rgb(250, 0, 0);
}

.Calculator,
.CalculatorButton {
  font-family: "Turret Road", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: blue;
}

.CalculatorDisplay {
  height: 250px;
  width: 410px;
  background-color: aqua;
}

.CalculatorButton {
  display: block;

  height: 50px;
  width: 50px;

  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  background: none;

  transition: 250ms;
}

.CalculatorButton:active {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
  border-left-width: 5px;
}

.NumberButton {
  border-top-color: rgb(200, 200, 250);
  border-right-color: rgb(200, 200, 250);
  border-bottom-color: var(--number-button-border-color);
  border-left-color: var(--number-button-border-color);
  background-color: rgb(150, 150, 250);
}

.NumberButton:hover,
.NumberButton:focus {
  background-color: rgb(175, 175, 250);
}

.NumberButton:active {
  border-top-color: rgb(200, 200, 250);
  border-right-color: rgb(200, 200, 250);
  border-bottom-color: rgb(150, 150, 150);
  border-left-color: rgb(150, 150, 150);
}

.ActionButton {
  border-top-color: rgb(200, 250, 200);
  border-right-color: rgb(200, 250, 200);
  border-bottom-color: var(--action-button-border-color);
  border-left-color: var(--action-button-border-color);
  background-color: rgb(150, 250, 150);
}

.ActionButton:hover,
.ActionButton:focus {
  background-color: rgb(175, 250, 175);
}

.ActionButton:active {
  border-top: 5px solid var(--action-button-border-color);
  border-right: 5px solid var(--action-button-border-color);
  border-bottom: 5px solid rgb(200, 250, 200);
  border-left: 5px solid rgb(200, 250, 200);
}

.MainControlButton {
  border-top-color: rgb(250, 200, 200);
  border-right-color: rgb(250, 200, 200);
  border-bottom-color: var(--control-button-border-color);
  border-left-color: var(--control-button-border-color);
  background-color: rgb(250, 150, 150);
}

.MainControlButton:hover,
.MainControlButton:focus {
  background-color: rgb(250, 175, 175);
}

.MainControlButton:active {
  border-top-color: var(--control-button-border-color);
  border-right-color: var(--control-button-border-color);
  border-bottom-color: rgb(250, 200, 200);
  border-left-color: rgb(250, 200, 200);
}

.KeyBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
  background-color: rgb(200, 200, 200);
}

.CalculatorKeyBoard {
  height: 250px;
  width: 410px;
}

.NumberKeyBoard,
.CommonKeyBoard {
  height: 230px;
  width: 190px;
}

.ActionsKeyBoard {
  height: 110px;
  width: 190px;
}
