.CalculatorButton {
  height: 50px;
  width: 50px;

  border-top: 5px solid blue;
  border-right: 5px solid blue;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

.CalculatorButton:active {
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid blue;
  border-left: 5px solid blue;
}
